body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #7519bb;
    margin: 0;
    padding: 0;
    background-image: url('bgimg.jpg');
}

h1 {
    color: #333;
}

#task-list {
    background-color: #21c7d6;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

li button {
    background-color: #ff4a4a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#new-task {
    width: 70%;
    padding: 8px;
}

#add-task {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}
